.register-card {
  margin: 10px 27px 10px 27px;
  border-radius: 20px;
}
.text-box {
  --border-width: 1px;
  --border-radius: 20px;
}

.login-card {
  border-radius: 20px;
}

.card-title {
  font-family: "Lato Light";
}

.register-container {
  position: absolute;
  top: 35vh;
  width: 100%;
}

.login-container {
  position: absolute;
  top: 31vh;
  width: 100%;
}

.card-social {
  padding: 9px 5px 5px 5px;
}

.card-facebook {
  margin-left: -20px;
  width: 90px;
}

.card-google {
  width: 90px;
  margin-right: -16px;
  float: right;
}

.error-text {
  color: #eb445a;
  margin-top: 5px;
  margin-left: 10px;
}

ion-content {
  margin-top: 12px;
  --background: url("../../assets/images/login-bg.svg") no-repeat;
}

.logo {
  margin-top: 55px;
  margin-bottom: 15px;
  width: 70%;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
