<ion-tabs (ionTabsWillChange)="changingTab($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourites">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>

    <ion-tab-button> </ion-tab-button>

    <ion-tab-button tab="myrecipes">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>My Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-circle-outline"> </ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button [routerLink]="['/new-recipe-form']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
